@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.log-in-nav-bar-container{
    grid-row: 1;
    height: auto;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.log-in-nav-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
    font-family: 'Inconsolata', monospace;
}
.log-in-nav-bar .nav-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 15px;
    margin: auto 15px;
}
.log-in-nav-bar .nav-link:nth-child(6){
    margin-left: auto;
}
.nav-button {
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Inconsolata', monospace
}
.log-in-nav-bar .nav-link:hover{
    text-decoration: underline;
}
@media screen and (max-width:800px){
    .log-in-nav-bar .nav-link{
        font-size: 12px;
    }
    .log-in-nav-bar .nav-link:last-child{
        margin-left: 0;
        margin-right: 0;
    }
    .log-in-nav-bar .nav-link:hover{
        text-decoration: none;
    }
}

@media screen and (max-width:500px){
    .log-in-nav-bar .nav-link{
        font-size: 10px;
    }
    .log-in-nav-bar .nav-link:last-child{
        margin-left: 0;
        margin-right: 0;
    }
    .log-in-nav-bar .nav-link:hover{
        text-decoration: none;
    }
}
