@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
.under-const-cont {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.under-const-cont img {
    height: 70vh;
}
