@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.cart-page {
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-page p{
    margin: 2px 0;
    padding: 0;
}
.cart-container {
    display: grid;
    margin: 20px 20%;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
}
.c-left{
    grid-column: 1;
    grid-row: 1;
}
.c-rigth{
    grid-column: 2;
    grid-row: 1;
    border:lightgray solid 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 10px;
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.c-rigth form {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery-btns {
    width: 100%;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}
.delivery-btns form label {
    margin: auto 1vh;
}
.price-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: auto;
    border-bottom: 1px solid lightgray;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.total-box{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid lightgray;
}
.total-box span {
    font-size: 20px;
    text-transform: capitalize;
}
.checkout-btn{
    width: 80%;
    padding: 2vh 0 2vh 0;
    margin: 1vh 0 1vh 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    overflow: hidder;
}
.checkout-btn:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.35);
}
.warng-checkout{
    font-size: 12px;
    color: gray;
}
.c-bottom {
    border:lightgray solid 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1vh;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    grid-row: 2;
    grid-column: 1/3;
}
.c-left{
    border:lightgray solid 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 1vh;
    height: auto;
    padding-bottom: 3vh;
}
.product-container {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    height: 100%;
    overflow-y: scroll;
}
