@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.private-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
    font-family: 'Inconsolata', monospace;

}
.private-msg-container img {
    height: 50vh;
}
.alert-btn{
    border: none;
    background-color: transparent ;
    color: gray;
    cursor: pointer;
}
.alert-btn:hover{
    text-decoration: underline;
}
